{% extends "base.html" %}
{% load i18n mezzanine_tags pages_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Projects" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Projects" %}
{% endif %}
{% endblock %}

{% block pageheader %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{MEDIA_URL}}uploads/project/64801421.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Projects</h1>
            <span class="subheading">A list of my personal projects</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock %}

{% block main %}
  {% for project in projects.object_list %}
    <div class="col-md">
      <div class="card">
        {% if settings.BLOG_USE_FEATURED_IMAGE and project.featured_image %}
          {% block blog_post_list_post_featured_image %}
          <a href="{{ project.get_absolute_url }}">
            <img class="card-img-top" src="{{ MEDIA_URL }}{% thumbnail project.featured_image 800 450 %}" alt="Card image cap">
          </a>
          {% endblock %}
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description_from_content|safe|truncatewords:50 }}</p>
          <a href="{{ project.get_absolute_url }}">{% trans "read more" %}</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
